---
import Section from "@/components/Section.astro";

interface Props {
  title: string;
  skills: {
    name: string;
  }[];
}

const { title, skills } = Astro.props;
---

<Section title={title}>
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  ul li {
    border-radius: 6px;
    background-color: #111827;
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 2px 8px;
  }
</style>
