---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Expirence from "@/components/sections/Expirence.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <Expirence />
    <Projects />
    <Education />
    <Skills />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>

<style media="print">
  @page {
    size: A4;
  }

  @media print {
    body {
      -webkit-print-color-adjust: exact;
    }
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
